{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Survial status</h1>

    <div class="form">
        <form action="/predict" method="POST">
            <input type="Age" step="0.01" name="Age" id="Age" placeholder="Age">
            <input type="Fare" step="0.0001" name="Fare" id="Fare" placeholder="Fare">
            <input type="Parch" name="Parch" id="Parch" placeholder="Parch">
            <input type="SibSp" name="SibSp" id="SibSp" placeholder="SibSp">
            <label for="Sex">Sex:</label>
            <select name="Sex" id="Sex">
                <option value=Male>Male</option>
                <option value=Female>Female</option>
            </select>
            <label for="Pclass">Pclass:</label>
            <select name="Pclass" id="Pclass">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=2>3</option>
            </select>
            <input type="submit" value="Predict">
        </form>
    </div>
</div>
{% endblock %}